<p>Enter your names.</p>

<form action="/game" method="POST">
    <input type="text" name="player1" placeholder="Player1 Name">
    <input type="text" name="player2" placeholder="Player2 Name">
    <input type="submit" value="SUBMIT">
</form>
